<h1>Contactos</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, deleniti ea eius error est eum iste, itaque labore nemo possimus quos recusandae totam voluptates voluptatum. Ex fugiat minus nam?
</p>
<br>
    <% email = "werty" %>
<br>
    <%= @email %>
<br>
    <% email %>
<br>
    <% var = 101 %>
    <% var.times do |n| %>
    <%= " n°(#{n})  "  %> 
    <% end %>
<br>